<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>桃園國際機場-出發吧！桃機樂友會</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="css/hover.css" rel="stylesheet" type="text/css">
    <link href="css/validate.css" rel="stylesheet" type="text/css">
    <link href="css/loading.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <script type="text/javascript" src="./js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="./js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="./js/messages_zh_TW.min.js"></script>
    <script type="text/javascript" src="./js/all.js"></script>
    <script type="text/javascript" src="./js/header_nav.js"></script>
    <script type="text/javascript" src="./js/axios.js"></script>
    <script type="text/javascript" src="./js/lodash.js"></script>
    <script type="text/javascript" src="./js/helper.js"></script>
<!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );hp_peoplelist
            document.createElement("section");
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article");
            document.createElement("hgroup" );
            document.createElement("time"   );
        </script>
    <![endif]-->
</head>

<body>
    @@include('./loading.html')
    <header class="hp">
        <div class="nav-icon"><i class="fas fa-bars"></i></div>
        <img src="images/header_logo.png" class="header-logo">
        <a href="/index"><img src="images/header_title.png" class="header-title"></a>
        <img src="images/header_bg.jpg" class="header-bg">
        <!------ nav for mobile ------>
        <img src="images/header_bg_mo.jpg" class="header-bg-mo">
        <div class="nav-bar-mo">
            <div class="nav-close"><i class="fas fa-times"></i></div>
            <ul class="nav">
                <li><a href="./explanation">活動說明</a></li>
                <li><a href="./notice">行前須知</a></li>
                <li><a href="./registered">線上報名</a></li>
            </ul>
        </div>
        <!------ /nav for mobile ------>
    </header>
    <!------ nav for pc & pad ------>
    <nav class="hp">
        <div class="nav-bar">
            <img src="images/nav_arrow_lf.png" class="arrow-lf">
            <div class="nav-circle"><a href="./explanation" class="green hvr-grow">活動<br>說明
                    <hr></a></div>
            <div class="nav-circle"><a href="./notice" class="blue hvr-grow">行前<br>須知
                    <hr></a></div>
            <div class="nav-circle"><a href="./registered" class="red hvr-grow">線上<br>報名
                    <hr></a></div>
            <img src="images/nav_arrow_rt.png" class="arrow-rt">
        </div>
        <img src="images/nav_bg.png" class="nav-bg">
    </nav>
    <!------ /nav for pc & pad ------>