<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>桃園國際機場-出發吧！桃機樂友會</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );hp_peoplelist
            document.createElement("section");
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article");
            document.createElement("hgroup" );
            document.createElement("time"   );
        </script>
    <![endif]-->
</head>
<body>
    <section id="booking-page" class="clearfix">
        <div class="title">台北諾富特華航桃園機場飯店優惠套裝</div>
        <div class="content-box">
            <ul class="num-ch">
                <li>台北諾富特華航桃園機場飯店優惠套裝<br>
                    住宿套裝NTD3,500 (含稅及服務費)：標準客房(一大床/兩小床) 含兩客樂活早餐及兩客味坊中餐廳精緻套餐
                    <div class="price-table">
                        <div class="caption border-rt border-bt">加床及早餐<br>(每房最多加一人)</div>
                        <div class="column-1 border-rt border-bt">0-15歲孩童</div>
                        <div class="column-2 border-bt">16歲含以上成人</div>
                        <div class="caption border-rt">費用</div>
                        <div class="column-1 border-rt">NTD 0</div>
                        <div class="column-2">NTD 800</div>
                    </div><br>
                </li>
                <li>
                    <div class="caption">訂房方式：</div>
                    <div class="column">
                        1.請致電03-3980911由訂房專員協助訂房<br>
                        2.填寫訂房單並Email至H6701-RE@accor.com訂房<br>
                        3.填寫訂房單並傳真至03-3980902<br>
                        4.入住時須出示參加一日遊專案成團通知信件，如無法出示則不得享有優惠房價，住宿費用將以原價計算<br><br>
                    </div>
                </li>
                <li>訂房單下載 (<a href="download/%E6%A1%83%E6%A9%9F%E6%A8%82%E5%8F%8B%E6%9C%83%20%E8%A8%82%E6%88%BF%E5%96%AE.docx" target="_blank">doc檔</a>) (<a href="download/%E6%A1%83%E6%A9%9F%E6%A8%82%E5%8F%8B%E6%9C%83%20%E8%A8%82%E6%88%BF%E5%96%AE.pdf" target="_blank">pdf檔</a>)
                </li>
            </ul>
        </div>
    </section>
</body>
</html>