@@include('./includes/header.html')
<section id="page-explanation">
    <div class="page-title">
        <div class="page-title"><img src="images/explanation_title.png"></div>
    </div>
    <div class="text-content">
        <div class="bg-top">
            <img src="images/explanation_title_sub1.png" class="exp-sub1">
            <img src="images/text_content_top_bg.png" class="bg-top">
        </div>
        <div class="bg-center">
            <div class="text-box">
                <ul class="num clearfix">
                    <li><div class="caption">活動對象：</div>
                        <div class="column">
                            全國民眾至7歲以上學童(含109學年度小一新生，即民國103年9月1日 (含)前出生者)<br>
                            <div class="exp-caption-s1">備註：</div>
                            <div class="exp-column-s1">
                                ★ 因配合政府防疫措施，請確認欲報名之活動日的前14天內(含)，確認均無出/入境紀錄者，方可進行後續報名程序(含報名主要聯絡人及其他攜伴全員)<br>
                                ★ 本活動多以步行為主，請自行評估體力能負荷，再報名參加喔。
                            </div>
                        </div>
                    </li>
                    <li><div class="caption">活動地點：</div>
                        <div class="column">桃園國際機場(含管制區內)</div>
                    </li>
                    <li><div class="caption">活動日期：</div>
                        <div class="column">
                            ★免費梯次-7/25(六)，恕無法參加心跳蹦蹦摸彩行程及贈送捷運卡之招待，但仍享有停車一日200元之優惠，免費伴手禮及餐盒供應。<br>
                            ★平日梯次-7/30(四)、8/6(四) 、8/13(四) 、8/20(四) 、8/27(四)<br>
                            ★假日梯次-8/1(六) 、8/8(六) 、8/15(六) 、8/22(六) 、8/29(六)<br>
                            ★共計10梯次，每日上午9:00~下午18:30
                        </div>
                    </li>
                    <li><div class="caption3">每梯報名截止時間：</div>
                        <div class="column3">
                            每梯活動日的前10天(含)中午12:00，為該梯次報名截止。<br>
                            例：欲報名7/30(四)平日梯次，其報名截止時間為7/20(一)中午12:00止，以此類推。
                        </div>
                    </li>
                    <li><div class="caption">每梯名額：</div>
                        <div class="column">
                            ★第一航廈-每日限額200人，50人即成團<br>
                            ★第二航廈-每日限額200人，50人即成團<br>
                            ★若報名人數較少或不足，主辦單位將有權併團或取消成團(將以e-mail通知)，會盡量安排您所希望選擇的航廈別。
                        </div>
                    </li>
                    <li><div class="caption">報到時間：</div>
                        <div class="column">請於每梯活動日上午9:00前，準時抵達指定報到地點 (逾時不候)。</div>
                    </li>
                    <li><div class="caption">報到地點：</div>
                        <div class="column">
                            ★「第一航廈團」：請準時抵達「第一航廈-B1出境層-新東陽美食街服務台」<br>
                            ★「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」<br>
                            ★參加本活動者，當日享有停車優惠200元。
                        </div>
                    </li>
                    <li><div class="caption">報到流程：</div>
                        <div class="column">
                            包含身分證正本繳交查驗、領取機場參觀證、行程說明表、團員相見歡活動<br>
                            ★活動當天若因逾時遲到、未完成報到，或未攜帶身分證正本者，恕不保留名額亦不予退費。
                        </div>
                    </li>
                    <li><div class="caption">報名方式：</div>
                        <div class="column">桃園機場官網活動網頁，採線上報名 <a href="./registered">報名請點這裡</a></div>
                    </li>
                    <li><div class="caption">報名費用：</div>
                        <div class="column">
                            ★國民價 N.T. 1,000元/位，全國民眾至12歲以上 (即民國97年9月1日(含)前出生者)<br>
                            ★國小優惠價N.T. 800元/位，12歲以下 (即民國97年9月2日(含)後出生者)~7歲以上(含109學年度小一新生，即民國103年9月1日(含)前出生者)<br>
                            (活動包含：機場導覽、午餐、伴手禮、餐盒等。還可參加心跳蹦蹦福袋抽獎活動，將有機會獲得機票、Switch主機、筆電、國際精品、住宿券、提貨券等豐富獎品)<br>
                            ★前4000位報名本活動的民眾，均贈送桃園捷運一日卡。
                        </div>
                    </li>
                    <li><div class="caption2">報名付款方式：</div>
                        <div class="column2">
                            採線上刷卡付費<br>
                            ★本活動由社團法人桃園市國際機場產業發展協會委託昇恆昌股份有限公司協助代收代付本次報名費用。
                        </div>
                    </li>
                    <li><div class="caption">退費標準：</div>
                        <div class="column">
                            ★於活動日前10天（含）以前申請退費者，全額退費。<br>
                            ★於活動日前9～4天（含）以前申請退費者，退費50%。<br>
                            ★於活動日前3天（含）至活動日當天，恕不予以退費。<br>
                            例：活動日為7/30，如已完成報名繳費，但因故取消需申請退費者，若於7/20(含)前申請退費，則全額退費；於7/26(含)前申請退費，則退還費用50%；於7/27(含)後申請退費，恕不予以退費。以此類推。<br>
                            ★不成團退費：各梯報名人數若未達成團標準，將於活動前5日e-mail通知、辦理全額退費。<br>
                            ★報名完成且付款成功者，後續如因申請參觀證之身份查核驗證未通過，活動當天將無法進入機場管制區內，將於活動前3日e-mail通知，辦理全額退費。<br>
                            ★活動當天如遇颱風、地震等不可抗力之因素，將遵照桃園市政府機關公告桃園市是否上班上課決定是否取消活動，將再不另行通知。後續將由客服聯繫辦理全額退費。<br>
                            <div class="exp-caption-s1">備註：</div>
                            <div class="exp-column-s1">
                                <ul class="num">
                                    <li>以上各項退費將酌收金流手續費。</li>
                                    <li>電子發票辦理退費時，申請退款程序即同意由昇恆昌代為處理銷貨退回證明單，以加速退款申請。</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><div class="caption4">住宿：</div>
                        <div class="column4"><a data-fancybox data-type="iframe" data-src="booking" href="./booking">台北諾富特華航桃園機場飯店優惠套裝 (訂房單下載)</a></div>
                    </li>
                    <li>客服諮詢專線(服務時間08:00-17:00)：<br>0800-055-556、0979-778-678、email信箱 cks.service@everrich.com.tw</li>
                    <li>
                        <div class="caption">主辦單位：</div>
                        <div class="column">社團法人桃園市國際機場產業發展協會</div>
                        <div class="caption">協辦單位：</div>
                        <div class="column">義美吉盛股份有限公司、昇恆昌股份有限公司、采盟股份有限公司、誠盟股份有限公司、新東陽股份有限公司、環宇商務中心、台北諾富特華航桃園機場飯店</div>
                        <div class="caption">指導單位：</div>
                        <div class="column">桃園國際機場股份有限公司</div>
                    </li>
                </ul>
            </div>
            <img src="images/explanation_text_illu.png" class="exp-illu">
        </div>
        <div class="bg-down"><img src="images/text_content_down_bg.png"></div>
    </div>
    <div class="text-content">
        <div class="bg-top">
            <img src="images/explanation_title_sub2.png" class="exp-sub1">
            <img src="images/text_content_top_bg.png" class="bg-top">
        </div>
        <div class="bg-center">
            <div class="text-box">
                <ul class="exp-num">
                    <li>送出報名資料前，請再次檢查各項個資資料是否均正確無誤，因需提前申請機場參觀證，報名後的資料與名單送出後將無法修改，報名資格與梯次亦不得更換或轉讓，敬請協助配合。</li>
                    <li>活動全程採「團進團出」之團體行動，全程需配戴口罩 (含：進/出機場管制區的安檢通關流程，以步行方式，參訪主題候機室、機坪跑道導覽、觀景台等行程)，請自行評估體力是否能負荷，為響應環保可攜帶水壺(機場內有飲水機可補水)，當天務必輕裝簡便並穿著舒適好走的鞋子。進入管制區內的導覽行程，中途將無法提前離開。</li>
                    <li>因導覽行程會進入機場管制區內，報名時請協助提供特定個資資料，以供查核驗證或聯絡之用，含：姓名、性別、身份證字號、出生年月日、電話、e-mail及住址等(報名資料將受個人資料保護法規定保護，僅限於本次申請參觀桃園國際機場使用) 。當天各團的導覽動線與內容，將視現場實際狀況進行調整。</li>
                    <li>活動當天請務必攜帶「身分證正本」(外國籍請攜帶護照正本或在台居留證正本、若無身分證之兒童請帶「健保卡正本」、) 以供安全查驗、申借機場參觀證之用，未攜帶者將無法進入機場管制區，且恕不予以保留名額及退費。並將於當日參觀完畢後，回收機場參觀證。</li>
                    <li>活動全程須遵守「民用航空法」、「民航機場管制區進出管制作業規定」、「桃園國際機場保安計畫」等相關法令規定辦理。請勿攜帶寵物、違禁品或其他危安物品進入，並不得任意攜走或破壞本機場公物；勿攜帶大型背包並減少隨身物品，並配合航警人員之檢查。如有違反其他法令情事者，將依法辦理。詳閱：<a href="https://www.taoyuanairport.com.tw/main_ch/docdetail.aspx?uid=1845&pid=18&docid=18304" target="_blank">桃園國際機場參觀訪問須知</a></li>
                    <li>機場防疫計畫：
                        <div class="exp-plan-table">
                            <div class="caption darkblue"><font class="white">內容</font></div>
                            <div class="column darkblue"><font class="white">防疫計劃</font></div>
                            <div class="caption">入場前(報到)</div>
                            <div class="column">
                                <ul class="num2">
                                    <li>機場各入口均設置紅外線體溫偵測，體溫逾37.5℃者將婉拒入場。</li>
                                    <li>活動當日起，14日內(含)如有出入境紀錄者，將婉拒入場。</li>
                                    <li>檢視並勸導民眾均能妥為配戴口罩。</li>
                                    <li>民眾進行手部清潔及消毒後，始得參與活動。</li>
                                </ul>
                            </div>
                            <div class="caption blue">導覽及購物</div>
                            <div class="column blue">
                                <ul class="num2">
                                    <li>所有導覽行程只限定於防疫安全區，不會與入境旅客交流。</li>
                                    <li>要求民眾全程須配戴口罩。</li>
                                </ul>
                            </div>
                            <div class="caption">用餐</div>
                            <div class="column">宣導民眾於用餐前洗淨雙手。</div>
                            <div class="caption blue">離場後</div>
                            <div class="column blue">每日活動結束後，針對場地內設備(設施)進行全面性消毒。</div>
                            <div class="caption">其他異常處</div>
                            <div class="column">民眾於活動期間發生身體不適，將通知駐機場醫療單位進行醫療處置。</div>
                        </div>
                    </li>
                    <li>若本活動因不可抗力之特殊原因無法執行時(含颱風、地震等不可抗力之因素)，主辦單位有權取消、終止、修改或暫停本活動內容，其他未盡事宜，主辦單位保有最終解釋權利。</li>
                    <li>完成報名此活動，則表示同意且願意遵守以上注意事項。</li>
                </ul>
            </div>
        </div>
        <a href="./registered"><img src="images/explanation_join_bt.png" class="join-bt"></a>
        <div class="bg-down"><img src="images/text_content_down_bg.png"></div>
    </div>
</section>
@@include('./includes/footer.html')