@@include('./includes/header.html')
<section id="hp-main">
    <div class="main-content">
        <div class="column-lf">
            <img src="images/title_overview.png" class="hp-title">
            <div class="text-box">
                出國旅行、機場購物、搭飛機…<br>
                這些美好時刻，感覺跟你我已距離了好遠好遠。<br>
                暫時無法搭飛機出國玩，不妨加入我們的行列，來一場機場體驗遊吧！<br><br>
                難得的機坪跑道攬勝，觀賞一架架停在機坪的特色飛機，<br>
                放慢腳步，深度認識全新的主題候機室及特色裝置藝術。<br>
                享受Shopping的熱情，選購喜愛的特色商品及台產伴手禮，<br>
                體驗全新的東方宇逸貴賓室或畢卓樂地餐廳的美味佳餚。<br><br>
                全程包吃、包喝、包玩、包導覽、包購物<br>
                還有令人心跳蹦的福袋抽獎！<br>
                還不快呼朋引伴一起組團報名參加~
            </div>
            <div class="more-bt"><a href="./explanation" class="hvr-hang">MORE</a></div>
        </div>
        <div class="itinerary-content">
            <div class="page-title"><img src="images/title_intro.png"></div>
            <div class="itinerary-table">
                <div class="caption-box">
                    <div class="caption-1">時間</div>
                    <div class="caption-2">內容</div>
                </div>
                <div class="column-box">
                    <div class="column-1">0900~1000</div>
                    <div class="column-2">
                        請於9點準時抵達集合地點報到 (逾時不候)<br>
                        含身分證件繳交查驗、領機場參觀證、說明書、行程表、團員相見歡活動<br>
                        ★報名「第一航廈團」：請準時抵達「第一航廈-B1出境層-新東陽美食街服務台」<br>
                        ★報名「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」
                    </div>
                </div>
                <div class="column-box">
                    <div class="column-1">10:00~11:00</div>
                    <div class="column-2">各區主題候機室導覽</div>
                </div>
                <div class="column-box">
                    <div class="column-1">11:00~12:00</div>
                    <div class="column-2">機坪巡禮</div>
                </div>
                <div class="column-box">
                    <div class="column-1">12:00~14:00</div>
                    <div class="column-2">中午用餐</div>
                </div>
                <div class="column-box">
                    <div class="column-1">14:00~16:30</div>
                    <div class="column-2">夏拼購物遊-台灣精品大賞</div>
                </div>
                <div class="column-box">
                    <div class="column-1">16:30~17:00</div>
                    <div class="column-2">第一航廈團-搭乘機場捷運、前往第二航廈觀景台</div>
                </div>
                <div class="column-box">
                    <div class="column-1">17:00~18:30</div>
                    <div class="column-2">第二航廈觀景台-看夕陽、心跳蹦蹦摸彩時間、發放餐盒</div>
                </div>
                <div class="column-box">
                    <div class="column-1">18:30~</div>
                    <div class="column-2">歡樂賦歸</div>
                </div>
            </div>
            <img src="images/notice_illu_1.png" class="notice-illu1">
        </div>
    </div>
    <img src="images/hp_bg_cloud.png" class="bg-cloud">
    <img src="images/hp_bg_fly_1.png" class="bg-fly-1">
    <img src="images/footer_bg_cloud.png" class="bg-footer-cloud">
</section>
@@include('./includes/footer.html')