@@include('./includes/header.html')
<section id="hp-main">
    <div class="main-content">
        <div class="column-lf">
            <img src="images/title_overview.png" class="hp-title">
            <div class="text-box">
                出國旅行、機場購物、搭飛機…<br>
                這些美好時刻，感覺跟你我已距離了好遠好遠。<br>
                暫時無法搭飛機出國玩，<br>
                不妨加入我們的行列來一場機場小旅行吧！<br>
                難得的機坪跑道攬勝，觀賞一架架停在機坪的特色飛機，<br>
                放慢腳步，深度認識全新的主題候機室及特色裝置藝術。<br>
                重拾Shopping的熱情，精挑選購喜愛的特色商品及台產伴手禮，<br>
                體驗全新的東方宇逸貴賓室及畢卓樂地餐廳的美味佳餚。
            </div>
            <div class="more-bt"><a href="explanation.php" class="hvr-hang">MORE</a></div>
        </div>
        <div class="column-rt">
            <div class="title-box"><img src="images/title_itinerary.png"></div>
            <div class="t1-box">
                <div class="title-box">
                    <img src="images/hp_t1.png">
                    <img src="images/hp_t1_title.png">
                </div>
                <div class="text-box">
                    報名「第一航廈團」：請準時抵達「第一航廈-B2出境層-新東陽美食街服務台報名「第一航廈團」：請準時抵達「第一航廈-B2出境層-新東陽美食街服務台報名「第一航廈團」：請準時抵達「第一航廈-B2出境層-新東陽美食街服務台
                </div>
                <div class="more-box">
                    <a href="notice.php" class="hvr-hang"><img src="images/hp_more_plus.png"></a>
                </div>
            </div>
            <div class="t2-box">
                <div class="title-box">
                    <img src="images/hp_t2.png">
                    <img src="images/hp_t2_title.png">
                </div>
                <div class="text-box">
                    報名「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」報名「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」報名「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務
                </div>
                <div class="more-box">
                    <a href="notice.php" class="hvr-hang"><img src="images/hp_more_plus.png"></a>
                </div>
            </div>
        </div>
    </div>
    <img src="images/hp_bg_cloud.png" class="bg-cloud">
    <img src="images/hp_bg_fly_1.png" class="bg-fly-1">
    <img src="images/footer_bg_cloud.png" class="bg-footer-cloud">
</section>
@@include('./includes/footer.html')