<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>桃園國際機場-出發吧！桃機樂友會</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="./js/all.js"></script>
    <script type="text/javascript" src="./js/axios.js"></script>
    <script type="text/javascript" src="./js/lodash.js"></script>
    <script type="text/javascript" src="./js/helper.js"></script>
    <script type="text/javascript" src="./js/list.js"></script>
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );hp_peoplelist
            document.createElement("section");
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article");
            document.createElement("hgroup" );
            document.createElement("time"   );
        </script>
    <![endif]-->
</head>

<body>
    <section id="backend-page">
        <div class="select-bar">
            <select id="planType"></select>
            <select id="planDate"></select>
            <select>
                <option>未配團(31人)</option>
                <option>團1(50人)</option>
                <option>團2(48人)</option>
                <option>團3(3人)</option>
                <option>團4(0人)</option>
            </select>
            <div class="search-box">
                Search: <input type="search"> <input type="button" value="搜尋">
            </div>
        </div>
        <table cellspacing="1" cellpadding="0">
            <tbody>
                <tr>
                    <td>序號</td>
                    <td>行程</td>
                    <td>
                        報名時段
                        <!-- 遞增 -->
                        <a href="" class="increment"><i class="fas fa-caret-up"></i></a>
                        <!-- 遞減 <a href="" class="diminishing"><i class="fas fa-caret-down"></i></a>-->
                    </td>
                    <td>
                        <font class="smaller">主要聯絡人</font><br>姓名
                    </td>
                    <td>MAIL</td>
                    <td>大人<br>人數</td>
                    <td>小孩<br>人數</td>
                    <td>總<br>人數</td>
                    <td>主宿<br>需求</td>
                    <td>團號<br>分配</td>
                    <td>詳細<br>資料</td>
                    <td>備註</td>
                    <td>成功/<br>取消</td>
                    <td>綠界<br>交易編號</td>
                    <td>報名時間</td>
                </tr>
                <tr>
                    <td>T10001</td>
                    <td>
                        <select>
                            <option>T1</option>
                            <option>T2</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>7/23(四)</option>
                            <option>7/30(四)</option>
                            <option>8/1(六)</option>
                            <option>8/6(四)</option>
                            <option>8/8(六)</option>
                            <option>8/13(四)</option>
                            <option>8/15(六)</option>
                            <option>8/20(四)</option>
                            <option>8/22(六)</option>
                            <option>8/27(四)</option>
                            <option>8/29(六)</option>
                        </select>
                    </td>
                    <td>小小胡</td>
                    <td>testtest@test.com</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>有</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>7/30併團</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>T10002</td>
                    <td>
                        <select>
                            <option>T1</option>
                            <option>T2</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>7/23(四)</option>
                            <option>7/30(四)</option>
                            <option>8/1(六)</option>
                            <option>8/6(四)</option>
                            <option>8/8(六)</option>
                            <option>8/13(四)</option>
                            <option>8/15(六)</option>
                            <option>8/20(四)</option>
                            <option>8/22(六)</option>
                            <option>8/27(四)</option>
                            <option>8/29(六)</option>
                        </select>
                    </td>
                    <td>小小胡</td>
                    <td>&nbsp;</td>
                    <td>3</td>
                    <td>3</td>
                    <td>6</td>
                    <td>無</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>T10003</td>
                    <td>
                        <select>
                            <option>T1</option>
                            <option>T2</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>7/23(四)</option>
                            <option>7/30(四)</option>
                            <option>8/1(六)</option>
                            <option>8/6(四)</option>
                            <option>8/8(六)</option>
                            <option>8/13(四)</option>
                            <option>8/15(六)</option>
                            <option>8/20(四)</option>
                            <option>8/22(六)</option>
                            <option>8/27(四)</option>
                            <option>8/29(六)</option>
                        </select>
                    </td>
                    <td>小小胡</td>
                    <td>&nbsp;</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>有</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>7/31打來取消</td>
                    <td>取消</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <select>
                            <option>xxxx</option>
                        </select>
                    </td>
                    <td><input type="button" value="查詢"></td>
                    <td>&nbsp;</td>
                    <td>成功</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div class="submit-bt">
            <input type="button" value="儲存"><input type="button" value="成團一鍵發送">
        </div>
    </section>
</body>

</html>