@@include('./includes/header.html')
<section id="page-notice">
    <div class="page-title"><img src="images/notice_title.png"></div>
    <div class="notice-content">
        <div class="text-box">
            <ul class="num">
                <li>報到地點：<br>
                    「第一航廈團」：請準時抵達「第一航廈-B1出境層-新東陽美食街服務台」<br>
                    「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」
                </li>
                <li>活動當天請務必攜帶：<br>
                    <ul class="square">
                        <li>身分證正本，外國籍報名者請攜帶「護照正本」或「在台居留證正本」</li>
                        <li>若無身分證之學童，請攜帶健保卡正本</li>
                        <li>為響應環保可攜帶水壺(機場內有飲水機可補水)</li>
                        <li>輕裝簡便(請勿攜帶大包包)，並穿著舒適好走的鞋子</li>
                        <li>請自備口罩(配合政府防疫措施，須全程配戴)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <img src="images/notice_illu_3.png" class="notice-illu3">
        <img src="images/notice_illu_2.png" class="notice-illu2">
    </div>
</section>
@@include('./includes/footer.html')