@@include('./includes/header.html')
<section id="page-notice">
    <div class="page-title"><img src="images/notice_title.png"></div>
    <div class="notice-content">
        <div class="text-box">
            <ul class="num">
                <li>報到地點：<br>
                    第一航廈團：第一航廈-B2出境層-新東陽美食街服務台<br>
                    第二航廈團：請準時抵達「第二航廈-B2出境層-義美美食街服務台」
                </li>
                <li>攜帶物品清單：活動當天請務必攜帶<br>
                    ★ 身分證正本 外國籍報名者請攜帶「護照正本」或「在台居留證正本」<br>
                    ★ 健保卡正本 6歲以上～未滿12歲以下，若無身分證之兒童請攜帶健保卡
                </li>
            </ul>
        </div>
        <img src="images/notice_illu_3.png" class="notice-illu3">
        <img src="images/notice_illu_2.png" class="notice-illu2">
    </div>
    <div class="itinerary-content">
        <div class="page-title"><img src="images/itinerary_title.png"></div>
        <div class="itinerary-table">
            <div class="caption-box">
                <div class="caption-1">時間</div>
                <div class="caption-2">內容</div>
            </div>
            <div class="column-box">
                <div class="column-1">0900~1000</div>
                <div class="column-2">
                    準時抵達集合地點報到<br>
                    含身分證件繳交查驗、領機場參觀證、說明書、行程表<br>
                    ★報名「第一航廈團」：請準時抵達「第一航廈-B2出境層-新東陽美食街服務台」<br>
                    ★報名「第二航廈團」：請準時抵達「第二航廈-B2出境層-義美美食街服務台」
                </div>
            </div>
            <div class="column-box">
                <div class="column-1">1000~1100</div>
                <div class="column-2">各區主題候機室導覽</div>
            </div>
            <div class="column-box">
                <div class="column-1">1100~1200</div>
                <div class="column-2">機棚跑道巡禮</div>
            </div>
            <div class="column-box">
                <div class="column-1">1200~1400</div>
                <div class="column-2">中午用餐</div>
            </div>
            <div class="column-box">
                <div class="column-1">1400~1630</div>
                <div class="column-2">夏拼購物遊-台灣精品大賞</div>
            </div>
            <div class="column-box">
                <div class="column-1">1630~1700</div>
                <div class="column-2">第一航廈團-搭乘機場捷運、前往第二航廈觀景台</div>
            </div>
            <div class="column-box">
                <div class="column-1">1700~1830</div>
                <div class="column-2">第二航廈觀景台-看夕陽、心跳蹦蹦摸彩時間、發放餐盒</div>
            </div>
            <div class="column-box">
                <div class="column-1">1830</div>
                <div class="column-2">歡樂賦歸</div>
            </div>
        </div>
        <img src="images/notice_illu_1.png" class="notice-illu1">
    </div>
</section>
@@include('./includes/footer.html')