@@include('./includes/header.html')
<section id="page-registered">
    <div class="text-content">
        <div class="bg-top">
            <div class="reg-title"><img src="images/registered_title.png"></div>
            <img src="images/text_content_top_bg.png" class="text-content-top">
        </div>
        <div class="bg-center">
            <!-------------- table form -------------->
            <div class="text-box">
                <div class="q-content">
                    防疫調查事項<br>
                    因配合政府防疫措施，請確認欲報名之活動日期當日起14天內(含)，確認均無出/入境紀錄者，方可進行後續報名程序(含報名者本人及其他攜伴全員)。
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>Q1.希望報名的行程：</strong></div>
                <div class="q-content">免費梯次</div>
                <div id="free-available-date" class="q-content clearfix">
                </div><br>
                <div class="q-content">平日梯次</div>
                <div id="weekdays-available-date" class="q-content clearfix"></div><br>
                <div class="q-content">假日梯次</div>
                <div id="weekend-available-date" class="q-content clearfix"></div><br>
                <div class="q-content">
                    ★平日即假日梯次每日限額200名，50人即成團。<br>
                    ★若報名人數較少或不足，主辦單位將有權併團或取消成團(將以e-mail通知)，會盡量安排您所希望選擇的航廈別。
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <!-- <div class="q-title"><strong>Q2.您想要報名的日期：</strong>
                    <font class="red">7/23首發團100名額由機場贊助</font>
                </div>
                <font class="error-planDate red error hide">請勾選報名日期</font>
                <div id="available_date" class="q-content clearfix"></div>-->
                <div class="q-title">
                    <strong>Q2.預計攜伴人數(參與團員均需詳填個資)：</strong>
                    <font class="error-numberOfMember red error hide">請勾選參加人數</font>
                </div>
                <div class="q-content clearfix">
                    國民價 N.T. 1,000元/位<br>
                    全國民眾~12歲以上(即民國97年9月1日(含)前出生者)<br>
                    <input name="numberOfAdults" type="radio" checked value="1">1位&nbsp;&nbsp;
                    <input name="numberOfAdults" type="radio" value="2">2位&nbsp;&nbsp;
                    <input name="numberOfAdults" type="radio" value="3">3位&nbsp;&nbsp;
                    <input name="numberOfAdults" type="radio" value="4">4位&nbsp;&nbsp;
                    <input name="numberOfAdults" type="radio" value="5">5位<br><br>
                    國小優惠價 N.T. 800元/位<br>
                    12歲以下(即民國97年9月2日(含)後出生者)~7歲以上(含109學年度小一新生，即民國103年9月1日(含)前出生者)<br>
                    <input name="numberOfChildren" type="radio" checked value="0">0位&nbsp;&nbsp;
                    <input name="numberOfChildren" type="radio" value="1">1位&nbsp;&nbsp;
                    <input name="numberOfChildren" type="radio" value="2">2位&nbsp;&nbsp;
                    <input name="numberOfChildren" type="radio" value="3">3位&nbsp;&nbsp;
                    <input name="numberOfChildren" type="radio" value="4">4位&nbsp;&nbsp;
                    <input name="numberOfChildren" type="radio" value="5">5位
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>參與團員請詳填個資</strong></div>
                <!---------- 佪資表格 ---------->
                <div id="people-forms"></div>
                <div class="table-note">
                    若欄位不夠使用，請點選+號&nbsp;<a><img id="appendForm" src="images/icon_plus_orange.png"></a>
                </div>
                <div class="q-title"><strong>Q3.住宿需求：</strong></div>
                <div class="q-content">
                    <input name="accomodation" type="radio" value="true" checked>是 <input name="accomodation" type="radio" value="false">否<br>
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title">
                    <strong>Q4.是否同意個資法及桃機相關法令規定條款：</strong>
                    <input name="agree" type="radio" value="true">同意 <input name="agree" type="radio" value="false" checked>不同意<br>
                </div>
                <div class="q-content clearfix">
                    <a class="read-terms">閱讀個資條款</a>
                    <div class="privacy-content">
                        <ul class="num">
                            <li>送出報名資料前，請再次檢查各項個資資料是否均正確無誤，因需提前申請辦理機場參觀證，報名後資料及名單將無法修改，報名資格與梯次亦不得更換或轉讓，敬請協助配合。</li>
                            <li>因導覽行程會進入機場管制區內，報名時請協助提供特定個資資料，以供查核驗證或聯絡之用，含：姓名、性別、身份證字號、出生年月日、電話、e-mail及住址等(報名資料將受個人資料保護法規定保護，僅限於本次申請參觀桃園國際機場使用)
                                。當天各團的導覽動線與內容，將視現場實際狀況進行調整。</li>
                            <li>活動當天請務必攜帶「身分證正本」(外國籍請攜帶護照正本或在台居留證正本、若無身分證之兒童請帶「健保卡正本」、)
                                以供安全查驗、申借機場參觀證之用，未攜帶者將無法進入機場管制區，且恕不予以保留名額及退費。並於當日參觀完畢後，回收機場參觀證。</li>
                            <li>活動全程須遵守「民用航空法」、「民航機場管制區進出管制作業規定」、「桃園國際機場保安計畫」等相關法令規定辦理。請勿攜帶寵物、違禁品或其他危安物ˋ品進入，並不得任意攜走或破壞本機場公物；勿攜帶大型背包並減少隨身物品，並配合航警人員之檢查。如有違反其他法令情事者，將依法辦理。
                            </li>
                            <li>若本活動因不可抗力之特殊原因無法執行時(含颱風、地震等不可抗力之因素)，主辦單位有權取消、終止、修改或暫停本活動內容，其他未盡事宜，主辦單位保有最終解釋權利。</li>
                            <li>完成報名此活動，則表示同意且願意遵守本活動辦法內容及上列相關注意事項。</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-------------- /table form -------------->
            <a><img id="postOrder" src="images/registered_bt.png" class="regi-submit-bt"></a>
            <img src="images/registered_text_illu.png" class="regi-illu">
        </div>
        <div class="bg-down"><img src="images/text_content_down_bg.png" class="text-content-bottom"></div>
    </div>
</section>
<script src="js/tw-city-selector.js"></script>
<script src="js/registered.js"></script>
<script>
    $(function () {
        $('.q-content a.read-terms').click(function () {
            $('.q-content .privacy-content').slideToggle("fast");
        });
    });
</script>
@@include('./includes/footer.html')