@@include('./includes/header.html')
<section id="page-registered">
    <div class="text-content">
        <div class="bg-top">
            <div class="reg-title"><img src="images/registered_title.png"></div>
            <img src="images/text_content_top_bg.png" class="text-content-top">
        </div>
        <div class="bg-center">
            <!-------------- table form -------------->
            <div class="text-box">
                <div class="q-title"><strong>Q1.您想要報名的行程：</strong></div>
                <div class="q-content">
                    <input name="planType" type="radio" value="T1" checked>第一航廈團 (每日人數限額200人，50人即成團)<br>
                    <input name="planType" type="radio" value="T2">第二航廈團 (每日人數限額200人，50人即成團)
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>Q2.您想要報名的日期：</strong>
                    <font class="red">7/23首發團100名額由機場贊助</font>
                </div>
                <font class="error-planDate red error hide">請勾選報名日期</font>
                <div id="available_date" class="q-content clearfix"></div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>Q3.住宿需求：</strong></div>
                <div class="q-content clearfix">
                    <input name="accomodation" type="radio" value="true" checked>是 <input name="accomodation" type="radio" value="false">否<br>
                    <font class="smaller">若勾選需要住宿，繳費後會給與一組早鳥訂房代碼，提供住宿優惠(<a href="./explanation"
                            class="normal-color">詳情見活動辦法</a>)</font>
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>Q4.參加人數：</strong>
                    <font class="error-numberOfMember red error hide">請輸入參加人數</font>
                </div>
                <div class="q-content clearfix">
                    <div class="column2"><input id="feeByAdultCheck" type="checkbox">大人 <input id="numberOfAdults" type="text" class="num" required> 位</div>
                    <div class="column2"><input id="feeByChildCheck" type="checkbox">小孩 <input id="numberOfChildren" type="text" class="num"> 位(6歲以上～12歲以下)</div>
                    <div class="column3">
                        <font class="red"><strong>總計費用：&nbsp;&nbsp;<span id="feeByMember"></span>&nbsp;&nbsp;NT</strong></font>
                    </div>
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>參與團員請詳填個資</strong></div>
                <!---------- 佪資表格 ---------->
                <div id="people-forms"></div>
                <div class="table-note">
                    若欄位不夠使用，請點選+號&nbsp;<a><img id="appendForm" src="images/icon_plus_orange.png"></a>
                </div>
                <img src="images/registered_content_line.png" class="q-line">
                <div class="q-title"><strong>Q5.是否同意個資條款：</strong></div>
                <div class="q-content clearfix">
                    <input name="agree" type="radio" value="true">同意 <input name="agree" type="radio" value="false" checked>不同意<br>
                    <a class="read-terms">閱讀個資條款</a>
                    <div class="privacy-content">
                        個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容<br>
                        個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容個資條款內容
                    </div>
                </div>
            </div>
            <!-------------- /table form -------------->
            <a><img id="postOrder" src="images/registered_bt.png" class="regi-submit-bt"></a>
            <img src="images/registered_text_illu.png" class="regi-illu">
        </div>
        <div class="bg-down"><img src="images/text_content_down_bg.png" class="text-content-bottom"></div>
    </div>
    <div class="registered-remind-box">
        <div class="remind-top-title"><img src="images/remind_top_title.jpg"></div>
        <div class="remind-content">
            <ul class="num">
                <li>報名前請再次檢查各項個資資料是否均無誤，報名後即不可修改，報名資格不得轉讓。</li>
                <li>若本活動因不可抗力之特殊原因無法執行時，本公司有權取消、終止、修改或暫停本活動內容，其他未盡事宜，本公司保有最終解釋權利。</li>
                <li>參加此活動則表示同意且願意遵守以上注意事項。</li>
            </ul>
        </div>
        <div class="remind-bottom"><img src="images/remind_down.jpg"></div>
        <img src="images/registered_confirm_illu.png" class="remind-illu">
    </div>
</section>
<script src="js/tw-city-selector.js"></script>
<script src="js/registered.js"></script>
<script>
    $(function () {
        $('.q-content a.read-terms').click(function () {
            $('.q-content .privacy-content').slideToggle("fast");
        });
    });
</script>
@@include('./includes/footer.html')