@@include('./includes/header.html')
<section id="page-notice">
    <div class="notice-content">
        <div class="text-box">

            您好，已收到您的報名費用。將於報名活動日的前5天，再通知您本梯是否成團(若本梯報名人數未達成團標準，將發活動取消通知及後續退款事宜)，謝謝！<br><br>

            客服諮詢專線<br>(服務時間08:00-17:00)：0800-055-556、0979-778-678、<br>e-mail信箱 cks.service@everrich.com.tw


        </div>
        <img src="images/notice_illu_3.png" class="notice-illu3">
        <img src="images/notice_illu_2.png" class="notice-illu2">
    </div>
</section>
@@include('./includes/footer.html')