<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>桃園國際機場-出發吧！桃機樂友會</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script>
            document.createElement("header" );
            document.createElement("footer" );hp_peoplelist
            document.createElement("section");
            document.createElement("aside"  );
            document.createElement("nav"    );
            document.createElement("article");
            document.createElement("hgroup" );
            document.createElement("time"   );
        </script>
    <![endif]-->
</head>

<body>
    <section id="team-infor-page">
        <div class="title">報名詳細資料</div>
        <div class="column-half">
            <strong>序號：</strong><span id="order-id"></span>
        </div>
        <div class="column-half">
            <strong>報名行程：</strong>第一航廈團
        </div>
        <div class="column-half">
            <strong>報名時段：</strong>7/23(四)
        </div>
        <div class="column-half">
            <strong>住宿需求：</strong>有
        </div>
        <div class="column-half">
            <strong>參加人數：</strong>大人 2 位, 小孩 2 位, 總共 4 人
        </div>
        <div class="column-half">
            <strong>團號分配：</strong>xxxxxxx
        </div>
        <div class="column-half">
            <strong>備註：</strong>7/30併團
        </div>
        <div class="column-half">
            <strong>報名成功/取消：</strong>成功
        </div>
        <div class="column-half">
            <strong>綠界訂單編號：</strong>xxxxxxxxx
        </div>
        <div class="column-half">
            <strong>報名時間：</strong>2020/07/01 14:22
        </div>
        <div class="column-full" style="text-align:right;">
            <font class="red"><strong>總計費用：</strong>4,000 NT</font>
        </div>
        <div class="column-full">
            <strong>參與團員請詳填個資</strong>
        </div>
        <div class="column-half">
            <div class="caption">主要聯絡人：</div>
            <div class="column">王大明</div>
            <div class="caption">性別：</div>
            <div class="column">男</div>
            <div class="caption">出生年月日：</div>
            <div class="column">1999/01/01</div>
            <div class="caption">身分證：</div>
            <div class="column">A111122222</div>
            <div class="caption">地址：</div>
            <div class="column">台北市台北區台北路38號38樓之1</div>
            <div class="caption">電話：</div>
            <div class="column">0212345678</div>
            <div class="caption">Mail：</div>
            <div class="column">xxxx@gmail.com</div>
            <div class="caption">用餐需求：</div>
            <div class="column">葷</div>
        </div>
        <div class="column-half">
            <div class="caption">團員姓名1：</div>
            <div class="column">王大明</div>
            <div class="caption">性別：</div>
            <div class="column">男</div>
            <div class="caption">出生年月日：</div>
            <div class="column">1999/01/01</div>
            <div class="caption">身分證：</div>
            <div class="column">A111122222</div>
            <div class="caption">地址：</div>
            <div class="column">台北市台北區台北路38號38樓之1</div>
            <div class="caption">電話：</div>
            <div class="column">0212345678</div>
            <div class="caption">Mail：</div>
            <div class="column">xxxx@gmail.com</div>
            <div class="caption">用餐需求：</div>
            <div class="column">葷</div>
        </div>
        <div class="column-half">
            <div class="caption">團員姓名2：</div>
            <div class="column">王大明</div>
            <div class="caption">性別：</div>
            <div class="column">男</div>
            <div class="caption">出生年月日：</div>
            <div class="column">1999/01/01</div>
            <div class="caption">身分證：</div>
            <div class="column">A111122222</div>
            <div class="caption">地址：</div>
            <div class="column">台北市台北區台北路38號38樓之1</div>
            <div class="caption">電話：</div>
            <div class="column">0212345678</div>
            <div class="caption">Mail：</div>
            <div class="column">xxxx@gmail.com</div>
            <div class="caption">用餐需求：</div>
            <div class="column">葷</div>
        </div>
    </section>
</body>

</html>